EmployeesDiscount/EmployeesDiscount/Web References/DonutsWebService/Restaurants2GD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Registration">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="firstname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="lastname" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="phone" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RegistrationResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RegistrationResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passwd" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult" type="tns:Cusomer" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Cusomer">
        <s:complexContent mixed="false">
          <s:extension base="tns:User">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="Customerkey" type="s:int" />
              <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mobile" type="s:string" />
              <s:element minOccurs="1" maxOccurs="1" name="BalanceAmount" type="s:double" />
              <s:element minOccurs="1" maxOccurs="1" name="FrozenAmount" type="s:double" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LevelKey" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRestaurant">
        <s:complexType />
      </s:element>
      <s:element name="GetRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRestaurantResult" type="tns:ArrayOfRestaurant" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfRestaurant">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Restaurant" nillable="true" type="tns:Restaurant" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Restaurant">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Restaurantkey" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Discount" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetTransactionsPerRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="restaurantKey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionsPerRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionsPerRestaurantResult" type="tns:TransactionList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TransactionList">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Trans" type="tns:ArrayOfTransaction" />
          <s:element minOccurs="1" maxOccurs="1" name="ReturnCount" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Transaction" nillable="true" type="tns:Transaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Transaction">
        <s:complexContent mixed="false">
          <s:extension base="tns:Restaurant">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="TransactionNumber" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RestaurantName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="EmployeeName" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Amount" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="CreateDate" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:element name="GetTransactionsPerUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="customerkey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTransactionsPerUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTransactionsPerUserResult" type="tns:TransactionList" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPaymentTransaction">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="amount" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="restaurantkey" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="customerkey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPaymentTransactionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertPaymentTransactionResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRestaurant">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="discount" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertRestaurantResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertRestaurantResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Settlement">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="restaurantkey" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SettlementResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SettlementResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RegistrationSoapIn">
    <wsdl:part name="parameters" element="tns:Registration" />
  </wsdl:message>
  <wsdl:message name="RegistrationSoapOut">
    <wsdl:part name="parameters" element="tns:RegistrationResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:GetRestaurant" />
  </wsdl:message>
  <wsdl:message name="GetRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:GetRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsPerRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionsPerRestaurant" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsPerRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionsPerRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsPerUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetTransactionsPerUser" />
  </wsdl:message>
  <wsdl:message name="GetTransactionsPerUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetTransactionsPerUserResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPaymentTransactionSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPaymentTransaction" />
  </wsdl:message>
  <wsdl:message name="InsertPaymentTransactionSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPaymentTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="InsertRestaurantSoapIn">
    <wsdl:part name="parameters" element="tns:InsertRestaurant" />
  </wsdl:message>
  <wsdl:message name="InsertRestaurantSoapOut">
    <wsdl:part name="parameters" element="tns:InsertRestaurantResponse" />
  </wsdl:message>
  <wsdl:message name="SettlementSoapIn">
    <wsdl:part name="parameters" element="tns:Settlement" />
  </wsdl:message>
  <wsdl:message name="SettlementSoapOut">
    <wsdl:part name="parameters" element="tns:SettlementResponse" />
  </wsdl:message>
  <wsdl:portType name="RestaurantS2GDSoap">
    <wsdl:operation name="Registration">
      <wsdl:input message="tns:RegistrationSoapIn" />
      <wsdl:output message="tns:RegistrationSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <wsdl:input message="tns:GetRestaurantSoapIn" />
      <wsdl:output message="tns:GetRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsPerRestaurant">
      <wsdl:input message="tns:GetTransactionsPerRestaurantSoapIn" />
      <wsdl:output message="tns:GetTransactionsPerRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsPerUser">
      <wsdl:input message="tns:GetTransactionsPerUserSoapIn" />
      <wsdl:output message="tns:GetTransactionsPerUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPaymentTransaction">
      <wsdl:input message="tns:InsertPaymentTransactionSoapIn" />
      <wsdl:output message="tns:InsertPaymentTransactionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertRestaurant">
      <wsdl:input message="tns:InsertRestaurantSoapIn" />
      <wsdl:output message="tns:InsertRestaurantSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Settlement">
      <wsdl:input message="tns:SettlementSoapIn" />
      <wsdl:output message="tns:SettlementSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RestaurantS2GDSoap" type="tns:RestaurantS2GDSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap:operation soapAction="http://tempuri.org/Registration" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <soap:operation soapAction="http://tempuri.org/GetRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsPerRestaurant">
      <soap:operation soapAction="http://tempuri.org/GetTransactionsPerRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsPerUser">
      <soap:operation soapAction="http://tempuri.org/GetTransactionsPerUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPaymentTransaction">
      <soap:operation soapAction="http://tempuri.org/InsertPaymentTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRestaurant">
      <soap:operation soapAction="http://tempuri.org/InsertRestaurant" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Settlement">
      <soap:operation soapAction="http://tempuri.org/Settlement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RestaurantS2GDSoap12" type="tns:RestaurantS2GDSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Registration">
      <soap12:operation soapAction="http://tempuri.org/Registration" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRestaurant">
      <soap12:operation soapAction="http://tempuri.org/GetRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsPerRestaurant">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionsPerRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionsPerUser">
      <soap12:operation soapAction="http://tempuri.org/GetTransactionsPerUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPaymentTransaction">
      <soap12:operation soapAction="http://tempuri.org/InsertPaymentTransaction" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertRestaurant">
      <soap12:operation soapAction="http://tempuri.org/InsertRestaurant" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Settlement">
      <soap12:operation soapAction="http://tempuri.org/Settlement" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RestaurantS2GD">
    <wsdl:port name="RestaurantS2GDSoap" binding="tns:RestaurantS2GDSoap">
      <soap:address location="http://localhost:35536/Restaurants2GD.asmx" />
    </wsdl:port>
    <wsdl:port name="RestaurantS2GDSoap12" binding="tns:RestaurantS2GDSoap12">
      <soap12:address location="http://localhost:35536/Restaurants2GD.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>